---
layout: default 
title: Complex Analysis 
field: cmplx
---




<h1>
    {{page.title | capitalize}} 
</h1>

<hr>
<h2>Useful Online references:</h2>

<div class="section group0">
    {% for data in site.data.label.fieldlist %}
        {% if data.category == page.field %}
            {% assign label = data.label%}
            <div class="col span0_1_of_3">
                <p><b>{{label | upcase }}</b></p>
                <!-- <ul> -->
                    {%for data in site.data.repository[page.field]%}
                        {% if data.label == label %}
                            {% if data.status == "done"%}
                                <label>
                                    <input type="checkbox" checked="checked"><a href="{{data.URL}}" class="done">{{data.title}}</a>
                                    <br>
                                </label>
                            {% elsif data.status == "ongoing" %}
                                <label>
                                    <input type="checkbox"><a href="{{data.URL}}" class="ongoing">{{data.title}}</a>
                                    <br>
                                </label>
                            {% else %}
                                <label>
                                    <input type="checkbox"><a href="{{data.URL}}">{{data.title}}</a>
                                    <br>
                                </label>
                            {% endif %}
                        {% endif %}
                    {% endfor %}    
                <!-- </ul> -->
            </div>
        {% endif %}
    {% endfor %}
</div>

<hr>
<h2>Books</h2>

<div class="section group1">
    {% assign fieldname = page.field %}
    {% assign book_repo = fieldname| append: "_books"%}

    {% for data in site.data.label.fieldlist%} 
        {% if data.category == page.field %}
            <div class="col span1_1_of_3">
                {% assign label = data.label%}
                <p><b>{{label| upcase}}</b></p>
                <ol>
                    {%for book in site.data.repository[book_repo]%}
                        {% assign booklabel = book.label | strip%}
                        {% if label == booklabel%}

                            {% if data.status == "done"%}
                                <label>
                                    <li><b><a href="{{book.URL}}" class="done">{{book.title}} </a> </b> by {{book.authors}} </li>
                                </label>
                            {% elsif data.status == "ongoing" %}
                                <label>
                                    <li><b><a href="{{book.URL}}" class="ongoing">{{book.title}} </a></b>by {{book.authors}} </li>
                                </label>
                            {% else %}
                                <label>
                                    <li><b><a href="{{book.URL}}">{{book.title}} </a></b>by {{book.authors}}</li>
                                </label>
                            {% endif %}
        
                        {% endif %}

                    {% endfor %}    
                </ol>
            </div>
        {% endif %}
       
    {% endfor %}
</div>
<hr>


<br>
<br>
<br>





