---
layout: default
title: Math
---
<div class="category">
  <h2>
    <a href="/">home</a>
    <a href="/physics">physics</a> 
    <a href="/math" class="active">math</a> 
    <a href="/programming">coding</a> 
    <!-- <a href="/others">others</a> -->
  </h2> 
</div>

<h2>Mathematics</h2>
<blockquote>
  <i><p>"The beauty of mathematics only shows itself to more patient followers." ~ Maryam Mirzakhani</p></i>
</blockquote>


Notes on math:
{% assign fundamentals_posts = site.categories.math
  | where_exp: "post", "post.status != 'archive'"
  | where_exp: "post", "post.tags contains 'notes'"
%}
{% include post_list.html items=fundamentals_posts %}

<br><br>
Synthesis of math:
{% assign fundamentals_posts = site.categories.math
  | where_exp: "post", "post.status != 'archive'"
  | where_exp: "post", "post.tags contains 'fundamentals'"
%}

{% include post_list.html items=fundamentals_posts %}


