---
layout: default
title: Coding
---
<div class="category">
  <h2>
    <a href="/">home</a>
    <a href="/physics">physics</a>
    <a href="/math">math</a>
    <a href="/programming" class="active">coding</a>
    <!-- <a href="/others">others</a> -->
  </h2> 
</div>

<h2>Programming</h2>
<i>
  <blockquote>"The lurking suspicion that something could be simplified is the world's richest source of rewarding challenges." - Edsger Dijkstra</blockquote>
</i>
Essays on programming:
{% assign fundamentals_posts = site.categories.programming
  | where_exp: "post", "post.status != 'archive'"
  | where_exp: "post", "post.tags contains 'blog'"
%}

{% include post_list.html items=fundamentals_posts %}

<br><b></b>
Notes on programming:
{% assign fundamentals_posts = site.categories.programming
  | where_exp: "post", "post.status != 'archive'"
  | where_exp: "post", "post.tags contains 'notes'"
%}
{% include post_list.html items=fundamentals_posts %}


<br><br>
Synthesis of programming:
{% assign fundamentals_posts = site.categories.programming
  | where_exp: "post", "post.status != 'archive'"
  | where_exp: "post", "post.tags contains 'fundamentals'"
%}
{% include post_list.html items=fundamentals_posts %}
