---
layout: default
title: Physics
---
<div class="category">
  <h2>
    <a href="/">home</a>
    <a href="/physics" class="active">physics</a> 
    <a href="/math">math</a> 
    <a href="/programming">coding</a> 
    <!-- <a href="/others">others</a> -->
  </h2> 
</div>

<h2> Physics </h2>
<blockquote>
  <i>"The only interesting fields of science are the one where you still don't know what you're talking about." Thomas Weller</i>
  <!-- <i>"The methods of theoretical physics should be applicable to all those branches of thought in which the essential features are expressible with numbers."
  </i> -->
</blockquote>


<h2> Notes</h2>
<p>Collection of notes about physics-related topic:</p>
{% assign fundamentals_posts = site.categories.physics 
  | where_exp: "post", "post.status != 'archive' and post.tags contains 'notes'"
%}

<ul class="compact-list">
  {% for post in fundamentals_posts %}
    <li><b><a href="{{ post.url }}">{{ post.title }}</a></b></li>
  {% endfor %}
</ul>

<h2> Fundamentals </h2>
Collection of synthesis of physics-related topic:
{% assign fundamentals_posts = site.categories.physics
  | where_exp: "post", "post.status != 'archive'"
  | where_exp: "post", "post.tags contains 'fundamentals'"
%}

<ul class="compact-list">
  {% for post in fundamentals_posts %}
    <li><b><a href="{{ post.url }}">{{ post.title }}</a></b></li>
  {% endfor %}
</ul>