---
layout: default
title: Physics
---
<div class="category">
  <h2>
    <a href="/">home</a>
    <a href="/physics" class="active">physics</a> 
    <a href="/math">math</a> 
    <a href="/programming">coding</a> 
    <!-- <a href="/others">others</a> -->
  </h2> 
</div>

<h2> Physics </h2>
<blockquote>
  <i>"The only interesting fields of science are the ones where you still don't know what you're talking about." Thomas Weller</i>
  <!-- <i>"The methods of theoretical physics should be applicable to all those branches of thought in which the essential features are expressible with numbers."
  </i> -->
</blockquote>

<p>Notes on physics:</p>
{% assign fundamentals_posts = site.categories.physics 
  | where_exp: "post", "post.status != 'archive'"
  | where_exp: "post", "post.tags contains 'notes'"
%}

{% include post_list.html items=fundamentals_posts %}


<br><br> 
Synthesis of physics:
{% assign fundamentals_posts = site.categories.physics
  | where_exp: "post", "post.status != 'archive'"
  | where_exp: "post", "post.tags contains 'fundamentals'"
%}

{% include post_list.html items=fundamentals_posts %}
    
