---
layout: default
title: Blog
---
<body>
	
<div class="category">
<h2>
	<!-- <a href="/blog">all posts</a> | --> |
	<a href="/physics" class="physics"> physics</a> | 
	<a href="/programming">programming</a> | 
	<a href="/math">mathematics</a> |
	<a href="/gis">gis</a> |
</h2> 
</div>

<br> 
<ul>
  {% for post in site.categories.physics %}
    {% if post.url %}
        <li><h4><sup>({{post.date| date_to_string}})</sup> <a href="{{ post.url }}">{{ post.title }}</a>  </h4></li>
    {% endif %}
  {% endfor %}
</ul>



</body>







